*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242525;
    color: white;

}

/* desktop view */
@media only screen and (min-width: 769px){

.header{
    margin: 20px;
    padding: 20px;
        background-color: 	#242525;
    
    }
    
    .navBar{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content:right;
        align-items: flex-start;
        align-content: center;
    }
    
    .nav{
        font-size: 25px;
        font-style: normal;
        font-weight: normal;
        font-family: 'Times New Roman';
        color: white;
        padding: 5px;
        text-decoration: none;
    }
    
    .title{
        background-color: 	#242525;
        margin-left: 80px;
        align-content: left;
        font-size: 35px;
        font-family:'Times New Roman';
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
.grid1{
    display: grid;  
    grid-template-columns: 40% 60%; 
    grid-template-rows: 20% 30% 30%; 
    margin-left: 80px;
    margin-right: 50px;
    font-family: 'Times New Roman'
} 

#video1{
    width: auto;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/3;
}
.title1{
    font-size: 25px;
    align-content: center;
    margin-top: 20px;
    width: auto;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}
.text1{
    font-size: 15px;
    align-content: center;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 80px;
}

.grid2{
    display: grid;  
    grid-template-columns: 60% 40%; 
    grid-template-rows: 20% 30% 30%; 
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Times New Roman'
}
#video2{
    width: auto;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/4;  
    justify-content: center;
}
.title2{
    font-size: 25px;
    align-content: center;
    width: auto;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}


.text2{
    font-size: 15px;
    align-content: center;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 100px;
}



.footer{
    background-color: 	#242525;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    
}
.socialmedia{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}